body {
    background-color: aquamarine;
}

hr {
  border: none;
  height: 3px;               
  background-color: rgb(49, 49, 133);   
}

#welcome {
    color: brown;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#description {
    text-align: center;
    font-size: 18px;
    color: rgb(70, 15, 143);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 1px 5px rgb(10, 30, 144);
}

.login {
    text-align: center;
    font-size: 20px;
    border: 2px solid rgb(200, 19, 134);
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 20px;
}

.login h3 {
    color:rgb(139, 6, 137);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container img {
    width: 200px;
    height: 200px;
}