body {
    background-color: rgb(177, 141, 211);
}

hr {
  border: none;
  height: 3px;             
  background-color: blue;    
}

#title {
    text-align: center;
    color:rgb(50, 50, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register {
    text-align: center;
    font-size: 20px;
    border: 2px solid rgb(200, 19, 134);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}